{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react-native"
  ],
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/no-multi-comp": 0,
    "arrow-parens": 0,
    "react/destructuring-assignment": 0,
    "operator-linebreak": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/prefer-stateless-function": 0,
    "arrow-body-style": 0
  }
}
